/* CODE MADE BY JIKAISH !*/
/* DONT DELETE  ANYTHING HERE YOU CAN ONLY CHANGE FOR THE CODE WORK PERFECTLY !*/

@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik:wght@500&display=swap');

/* Smooth scroll when go to id */
html {
    scroll-behavior: smooth;
  }

body {
    background-color: #F7C4CB;
}
/*Links color*/
.link { text-decoration: none; color: #F74747; }
.link:link { text-decoration: none; color: #F74747; }
.link:visited { text-decoration: none; color: #F74747; }
.link:hover { text-decoration: none; color: #f9c1c1; }
.link:active { text-decoration: none; color: #f9c1c1; }

/* Font family called */
.patua {
    font-family: 'Patua One', cursive !important;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

/* Div settings */
.box {
    background-color: #ff9d9d;
    border-color: #F74747;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    margin: 24px 24px 0;
    text-align: center;
    box-sizing: border-box;
}

.box-not-down {
    margin-bottom: 25px;
}

.second-box {
    background-color: #ff9d9d;
    border-color: #F74747;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    text-align: center;
    width: auto;
    margin: auto;
    padding: 10px;
}

/* Titles, descriptions, ul and footer settings */
.big-title {
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
    padding-top: 40px;

}

.sub-title {
    font-size: 55px;
    color: rgb(202, 77, 173);
}

.big-title-text {
    font-size: 65px;
}

.big-title-img {
    border-radius: 60px;
    width: 120px;
    height: 120px;
}

.nav-image {
    border-radius: 60px;
}
.title {
    font-size: 80px;
} 

.litle-description {
    font-size: 25px;
    text-align: center;
    padding-right: 40px !important;
    padding-left: 40px !important;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 350px;
    margin: auto;
   padding: 10px;
}

.long-description {
    text-align: center;
}

.about-me {
    font-size: 25px;
}

ul {
    list-style: none;
    font-size: 30px;
}

footer {
    display: block;
  }

.footer-text {
    font-size: 22px;
}

/* Custom scroll bar */

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F74747; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #F74747; 
  }

/* CODE MADE BY JIKAISH !*/
/* DONT DELETE  ANYTHING HERE YOU CAN ONLY CHANGE FOR THE CODE WORK PERFECTLY !*/